.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  margin-top: 0px;
  margin-bottom: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px solid #000;
  font-size: 20px;
  text-align: center;
}

.app-body {
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 4em;
  padding-top: 0em;
  border-top: 1px none #000;
}

.tabs-content {
  display: block;
  width: 80%;
  margin-bottom: auto;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menuoptiontab {
  width: 100%;
  margin: 0em 10%;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
}

.menuoptiontab:hover {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.29);
}

.menuoptiontab.w--current {
  background-color: rgba(0, 0, 0, 0.14);
  color: #333;
  text-align: center;
}

.menuoptiontab.menuoptionundersuparator {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  border-bottom-style: none;
}

.menuoptiontab.menuoptionundersuparator:hover {
  border-style: solid;
}

.tab-link-tab-2 {
  width: 100%;
}

.tab-link-tab-3 {
  width: 100%;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.text-block-3 {
  text-align: center;
}

.body {
  margin-right: 1em;
  margin-left: 1em;
}

.brand {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: 125px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-pane-tab-9 {
  position: relative;
  width: 100%;
  margin-bottom: auto;
}

.tabs-2 {
  width: 100%;
}

.heading {
  text-align: center;
}

.correio-tabela-objetos-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.correio-tabela-objeto-body {
  width: 100%;
  margin-bottom: 1em;
}

.correio-tabela-objeto-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.field-label {
  width: 100%;
  text-align: center;
}

.text-field {
  width: 50%;
}

.button {
  width: 40%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.heading-2 {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.heading-3 {
  width: 20%;
  margin: 0px auto;
  font-size: 1.6em;
  text-align: center;
}

.correio-tabela-objetos-iteration-template {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin-right: 1%;
  margin-bottom: 1em;
  margin-left: 1%;
  padding: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.58);
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.correio-tabela-objetos-iteration-datainput {
  width: 50%;
  border: 1px none #000;
  font-size: 2em;
  font-weight: 400;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  display: none;
}

.correio-tabela-objetos-actionmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label-2 {
  width: 25%;
}

.text-field-2 {
  width: 25%;
}

.field-label-3 {
  width: 25%;
}

.text-field-3 {
  width: 25%;
}

.div-block-6 {
  width: 30%;
}

.linhaseparadora-semespa-o-black {
  display: block;
  width: 1px;
  height: auto;
  margin-top: 0px;
  margin-right: 0em;
  margin-left: 0em;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-left: 1px solid #000;
}

.heading-4 {
  width: 25%;
  margin: 0px auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 1em;
  text-align: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item-text {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 1px none #000;
  border-left: 1px none #000;
  font-size: 1em;
  text-align: center;
}

.correio-tabela-objetos-iteration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin-right: 1%;
  margin-bottom: 1em;
  margin-left: 1%;
  padding: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.58);
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 1.3em;
}

.image {
  width: 30%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: #6f0b0b;
}

.div-block-9 {
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.linhaseparadora-semespa-o-white {
  display: block;
  width: 1px;
  height: auto;
  margin-top: 0px;
  margin-right: 0em;
  margin-left: 0em;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 0.4px;
  border-color: #fff;
}

.correio-tabela-objetos-iteration-alt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0.4em;
  margin-bottom: 1em;
  margin-left: 0.4em;
  padding: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.58);
  background-color: rgba(0, 0, 0, 0.07);
}

.correio-tabela-objetos-filtros {
  position: relative;
  left: 0px;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: none;
  width: 100%;
  margin: auto auto 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  clear: none;
  border: 1px solid #000;
  background-color: hsla(0, 0%, 100%, 0.87);
  opacity: 1;
  color: #000;
  font-size: 1.2em;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.button-2 {
  margin-right: 2em;
}

.button-3 {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 0px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 15px;
}

.app-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: transparent;
  cursor: default;
}

.notificationbox {
  position: fixed;
  left: auto;
  top: 10%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px solid transparent;
  background-color: hsla(0, 0%, 87.8%, 0.91);
  box-shadow: -1px 1px 3px 0 #000;
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.notification-title {
  margin-top: 0px;
  margin-bottom: 1em;
  font-size: 1.7em;
  text-align: center;
}

.notification {
  position: relative;
  z-index: 10;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1em 1em 2em;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
}

.notification-message {
  color: #a31b1b;
  font-size: 1.3em;
}

.div-block-11 {
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.div-block-12 {
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  white-space: nowrap;
}

.text-block-4 {
  width: 100%;
  margin-right: auto;
  margin-bottom: 0em;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
  text-align: center;
}

.text-block-5 {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.text-block-6 {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer;
}

.text-block-6:hover {
  background-color: transparent;
  box-shadow: -1px 1px 3px 0 #000;
  color: #0026ff;
}

.correio-tabela-objetos-abrirdetalhesbtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0.3em 0.125em 0.125em 0.3em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1em;
  cursor: pointer;
}

.correio-tabela-objetos-abrirdetalhesbtn:hover {
  box-shadow: inset 0 1px 3px 0 #000;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.text-block-7 {
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-7 {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-block-8 {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-block-9 {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-block-10 {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-block-11 {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.tabs-content-2 {
  width: 100%;
  margin-bottom: 2em;
}

.tab-pane-tab-1 {
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-15 {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: 0px;
  float: none;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-16 {
  width: 100%;
}

.form-block-2 {
  width: 100%;
}

.form-block-3 {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.field-label-4 {
  width: 30%;
  margin-top: 0px;
  margin-bottom: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.select-field {
  width: 25%;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 2em;
  padding-left: 0em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
  text-align: center;
}

.correio-tabela-objeto-filter-status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 0.75em;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
}

.radio-button {
  margin: auto auto auto 0px;
}

.radio-button-2 {
  margin-right: auto;
  margin-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.checkbox {
  margin: auto;
}

.checkbox-label {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-3 {
  height: 4em;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  line-height: 5em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-4 {
  height: 4em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.heading-8 {
  text-align: center;
}

.image-5 {
  position: relative;
  height: 2.5em;
  margin-right: auto;
  margin-left: -5%;
  cursor: pointer;
}

.heading-9 {
  width: 80%;
  margin-top: 0px;
  margin-bottom: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-bottom: 1px solid #000;
  font-size: 2em;
  text-align: center;
}

.div-block-18 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.close-notification-box-btn {
  position: relative;
  left: auto;
  right: auto;
  display: none;
  width: 10%;
  margin-right: 0.5em;
  margin-left: auto;
  cursor: pointer;
}

.div-block-19 {
  width: 100%;
  height: 2em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.open-notification-box-btn {
  position: relative;
  right: 10%;
  display: inline-block;
  width: 10%;
  cursor: pointer;
}

.field-label-5 {
  display: block;
  width: 48%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-field-4 {
  position: relative;
  display: inline-block;
  width: 48%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-6 {
  position: relative;
  display: block;
  width: 48%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-5 {
  position: relative;
  display: inline-block;
  width: 48%;
  margin-right: auto;
  margin-left: auto;
}

.form-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 4em;
  padding-left: 4em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.field-label-7 {
  width: 100%;
}

.text-field-6 {
  width: 100%;
}

.checkbox-label-2 {
  font-size: 1.2em;
}

.checkbox-field {
  display: none;
  width: 100px;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.field-label-8 {
  display: inline-block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-7 {
  display: inline-block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-9 {
  display: inline-block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-8 {
  display: inline-block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.heading-10 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button-4 {
  margin-top: 2em;
  margin-right: auto;
}

.heading-11 {
  margin-bottom: 1.5em;
  text-align: center;
}

.form-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label-10 {
  width: 50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-field-9 {
  width: 50%;
}

.field-label-11 {
  width: 50%;
}

.text-field-10 {
  width: 50%;
}

.correio-detalheobjeto-titulodecampo {
  width: 100%;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #000;
  font-size: 1.8em;
}

.correio-detalhe-objeto-data-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-right: 2.5%;
  margin-bottom: 3.5em;
  margin-left: 2.5%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1.1em;
}

.correio-detalhe-objeto-data-field.correio-detalhe-objeto-data-field-location {
  font-size: 0.8em;
}

.text-block-12 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #333;
  font-size: 1.5em;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-block-4 {
  display: none;
}

.text-span {
  font-size: 1.3em;
}

.list-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.list-item-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.text-span-2 {
  font-size: 1.3em;
}

.heading-12 {
  width: 60%;
  margin-bottom: 2em;
  padding-bottom: 0.125em;
  border-bottom: 1px solid #000;
  text-align: center;
}

.navbar {
  margin-bottom: 2em;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-block-4-copy {
  width: 100%;
  margin-right: auto;
  margin-bottom: 0em;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
  color: #098b14;
  text-align: center;
}

.image-6 {
  height: 4em;
  margin-right: auto;
  margin-left: auto;
}

.text-block-12-copy {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #03971e;
  font-size: 1.5em;
}

.field-label-12 {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.text-field-11 {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-13 {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.select-field-2 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.invisible-data-div {
  display: none;
}

.button-5 {
  margin-left: 2em;
}

.form-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field-label-14 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-23 {
  width: 30%;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.html-embed {
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  cursor: pointer;
}

.html-embed:hover {
  box-shadow: inset -1px 0 3px 0 #000;
}

.mercadolivreimg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-2 {
  position: relative;
}

.warning-box {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-24 {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  margin: auto 33%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: hsla(0, 0%, 86.4%, 0.92);
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-13 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #000;
  text-align: center;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1em 0.5em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button-6 {
  padding: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button-7 {
  padding: 0.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
}

.button-7:hover {
  background-color: rgba(255, 255, 255, 0.69);
}

.statusball-green {
  width: 1.5em;
  height: 1.5em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 50%;
  background-color: #019c23;
}

.statusball-gray {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #b0b0b0;
}

.statusball-green-redborder {
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 50%;
  background-color: #019c23;
}

.statusball-yellow {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #d3c803;
}

.statusball-orange {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #ff8000;
}

.statusball-red {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #b30202;
}

.statusball-white-blackborder {
  width: 1.5em;
  height: 1.5em;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.html-embed-3 {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.shownotificationboxbtn {
  display: none;
}

.button-9 {
  margin-right: auto;
  margin-left: auto;
}

.button-10 {
  margin-right: auto;
  margin-left: auto;
}

.heading-14 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #000;
  text-align: center;
}

.text-block-13 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.div-block-26 {
  padding-right: 1em;
  padding-left: 1em;
}

.heading-15 {
  text-align: center;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tabs-content-3 {
  width: 80%;
}

.heading-16 {
  text-align: center;
}

.div-block-27 {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid #000;
}

.div-block-28 {
  width: 100%;
  height: 2.5em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.09);
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.28);
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 3px 0 #000;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
}

.text-field-12 {
  width: 50%;
}

.field-label-15 {
  width: 50%;
}

.field-label-16 {
  width: 50%;
}

.text-field-13 {
  width: 50%;
}

.submit-button-2 {
  display: none;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.38);
}

.field-label-17 {
  width: 33%;
}

.field-label-18 {
  width: 33%;
}

.field-label-19 {
  width: 33%;
}

.text-field-14 {
  width: 33%;
}

.text-field-15 {
  width: 33%;
}

.text-field-16 {
  width: 33%;
}

.statusball-yellow-redborder {
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 50%;
  background-color: #d3c803;
}

.div-block-32 {
  width: 33%;
  margin-top: 0em;
  margin-bottom: 2em;
  padding: 1em 2em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.21);
  box-shadow: 1px 1px 3px 0 #000;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1em;
}

.heading-17 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.36);
  color: #f60808;
  text-align: center;
  cursor: pointer;
}

.heading-17:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.heading-18 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
}

.heading-18:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.53);
}

.tab-link-tab-4 {
  display: inline-block;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
}

.form-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-17 {
  width: 7em;
  margin-right: 1em;
  font-size: 2em;
}

.paragraph-2 {
  font-size: 2em;
}

.heading-19 {
  width: 100%;
  margin: 0px 2em 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px none #000;
  text-align: center;
}

.heading-20 {
  width: 100%;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #000;
  text-align: center;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
}

.form-block-5 {
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
}

.heading-21 {
  width: 85%;
  text-align: center;
}

.tab-link-tab-2-2 {
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tabs-menu-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.mercadolivretaboption {
  margin-right: 2em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #000;
  background-color: hsla(0, 0%, 86.7%, 0);
  text-align: center;
}

.mercadolivretaboption.w--current {
  margin-right: 2em;
  border-style: solid;
  border-color: #333;
  background-color: rgba(255, 241, 89, 0);
  color: #333;
}

.text-block-14 {
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}

.mercadolivre-accountstable {
  margin-right: 1em;
  margin-left: 1em;
}

.mercadolivre-accountstable-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.mercadolivre-accountstable-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-block-6 {
  width: 60%;
  margin-right: 2em;
}

.button-11 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px solid transparent;
  background-color: rgba(56, 152, 236, 0);
  color: #000;
}

.button-11:hover {
  border-right-color: rgba(0, 0, 0, 0.38);
}

.button-12 {
  margin-right: 2em;
  border: 1px solid transparent;
  background-color: transparent;
  color: #000;
}

.button-12:hover {
  border-left-color: rgba(0, 0, 0, 0.38);
}

.button-13 {
  margin-right: 2em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.13);
  background-color: transparent;
  color: #000;
  font-size: 1.1em;
}

.button-13:hover {
  border-color: #000;
}

.div-block-35 {
  padding: 0.5em 1em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}

.mercadolivre-accountstable-iteration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.33);
  background-color: rgba(0, 0, 0, 0.05);
}

.text-block-15 {
  width: 35%;
  margin-right: 0em;
  padding-right: 1em;
  padding-left: 0em;
  font-size: 1.5em;
  text-align: center;
}

.text-block-16 {
  width: 25%;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
}

.text-block-17 {
  font-size: 1.5em;
  text-align: center;
}

.x-embedhtml {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  max-height: 2em;
  max-width: 2em;
  margin-left: 0em;
  padding-right: 0em;
  padding-left: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-block-18 {
  width: 15%;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mercadolivre-accountstable-iteration-template {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.33);
  background-color: rgba(0, 0, 0, 0.68);
  color: #fff;
}

.checked-embedhtml {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  max-height: 2em;
  max-width: 2em;
  margin-left: 0em;
  padding-right: 0em;
  padding-left: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-37 {
  width: 15%;
}

.div-block-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-4 {
  padding: 0.5em;
  cursor: pointer;
}

.html-embed-4:hover {
  box-shadow: inset -1px 1px 3px 0 #000;
}

.mercadolivre-tab-content {
  display: block;
  opacity: 1;
}

.heading-22 {
  text-align: center;
}

.paragraph-3 {
  margin-bottom: 0px;
  font-size: 1.4em;
}

.text-span-3 {
  color: #ff0505;
  font-size: 1.5em;
}

.div-block-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  padding: 1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.div-block-39:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 3px 0 #000;
}

.heading-23 {
  text-align: center;
}

.orderstable-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.orderstable-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.orderstable-iterationtemplate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.33);
  background-color: rgba(0, 0, 0, 0.05);
}

.text-block-19 {
  width: 25%;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.5em;
  text-align: center;
}

.text-block-15-copy {
  width: 35%;
  margin-right: 0em;
  padding-right: 1em;
  padding-left: 0em;
  font-size: 1.3em;
  text-align: center;
}

.heading-24 {
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
}

.button-14 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.tab-pane-tab-2 {
  text-align: center;
}

.heading-25 {
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0em;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.32);
  text-align: center;
}

.text-block-20 {
  width: 100%;
  margin-bottom: 1em;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.6em;
  text-align: left;
}

.text-span-4 {
  color: #00930f;
}

.text-span-5 {
  color: #a6a100;
}

.text-span-6 {
  color: #009013;
}

.text-span-7 {
  color: #dc0000;
}

.text-block-21 {
  width: 100%;
  margin-bottom: 1em;
}

.div-block-41 {
  width: 100%;
}

.text-block-22 {
  margin-bottom: 1em;
}

.div-block-42 {
  width: 100%;
  margin-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

.text-block-23 {
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  font-size: 1.8em;
  text-align: center;
}

.notification-span {
  position: fixed;
  right: 0px;
  bottom: 5%;
  display: none;
  width: 28%;
  height: 25%;
  padding: 1em 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.26);
  background-color: #f4f4f4;
  opacity: 0;
}

.notification-span.notification-span-error {
  border-color: rgba(255, 0, 0, 0.26);
}

.notification-span-title {
  margin: 0px 10% 0.7em;
  text-align: center;
}

.notification-span-title.notification-span-error {
  color: #ba0000;
}

.html-embed-5 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 8%;
  background-color: transparent;
  color: #676767;
  cursor: pointer;
}

.html-embed-5:hover {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.38);
}

.text-block-24 {
  overflow: auto;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
}

.shownotificationspanbtn {
  display: none;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-25 {
  margin-right: 0em;
  margin-left: 0em;
  padding-right: 1em;
  padding-left: 1em;
}

.text-field-4-copy {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-6-copy {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}